# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="http://localhost:3000"

# RESEND_API_KEY: Obtenue sur https://resend.com
RESEND_API_KEY="re_123456789"

# CONTACT_RECIPIENT_EMAIL: L'adresse email qui recevra les messages du formulaire
CONTACT_RECIPIENT_EMAIL="votre-email@exemple.com"
